.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  background: white;
  border-bottom: 1px solid #eaeaea;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  margin-left: auto;
}

.homeLink {
  color: #02394a;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.link {
  color: #02394a;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition:
    color 0.3s ease,
    font-weight 0.3s ease;
}

.link:hover {
  color: #02394a;
  font-weight: 600;
}

.cart {
  background: #f26df9;
  background: linear-gradient(135deg, #f26df9 0%, #eb4b98 80%);
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .nav {
    gap: 1rem;
  }
}
